---
import { getCollection } from "astro:content";
import Layout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";

const posts = (await getCollection("posts", (entry) => !entry.data.draft))
	.sort((a, b) => -(a.data.createdAt.getTime() - b.data.createdAt.getTime()))
	.slice(0, 5);
---

<Layout title="Home">
	<p>Latest posts</p>
	<div class="border-b-2 border-gray-300 w-full my-2"></div>
	<ul>
		{
			posts.map((post) => (
				<li>
					<PostCard entry={post} />
				</li>
			))
		}
	</ul>
</Layout>
